/* LESS Document */
.appui-menu-constructor-tree{
  .alignToolBar{
    width: 100%;
    float: right;
    ul{
      border-width: 0px 0px 0px 0px; !important
    }
  }

  .statusButton{
    color: #c5c5c5;
  }

  .borderTitle{
    border: double;
  }
  .top {
    height: 30px;
    whidth: 100%;

  }
  .bbn-nl{
    height: 0.5em;
  }
  .bbn-w-20{
    font-weight: bold;
    font-size: 1.2em;
  }
}

